{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lostandfounds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lostAndFound in lostAndFounds %}
            <tr>
                <td><a href="{{ path('lostandfound_show', { 'id': lostAndFound.id }) }}">{{ lostAndFound.id }}</a></td>
                <td>{{ lostAndFound.label }}</td>
                <td>{% if lostAndFound.createdAt %}{{ lostAndFound.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lostandfound_show', { 'id': lostAndFound.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lostandfound_edit', { 'id': lostAndFound.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lostandfound_new') }}">Create a new lostAndFound</a>
        </li>
    </ul>
{% endblock %}
